@font-face {
    font-family: "Barrio Regular";
    src: URL(../Fontes/Barrio/Barrio-Regular.ttf)
}
  
*{
 font-family: "Barrio Regular", sans-serif;
 font-optical-sizing: auto;
 font-style: normal;
 letter-spacing: 2px;

 font-variation-settings:
 "slnt" 0,
 "wdth" 100,
 "GRAD" 0,
 "XOPQ" 96,
 "XTRA" 468,
 "YOPQ" 79,
 "YTAS" 750,
 "YTDE" -203,
 "YTFI" 738,
 "YTLC" 514,
 "YTUC" 712;


}

.fundo {
  background-image: url("../images/fundo.jpg");
  width: 100%;
  height: 900px;
  min-height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 20%;
  position: fixed;
}

.texto h1 {
   width: 80%;
   min-height: 150px;
   height: 40%;
   font-size: 500%;
   color: rgb(240, 248, 255);

   position: fixed;
   text-align: right;
   padding-right: 3%;
   padding-top: 40px; /* empurra o texto pra baixo */

   top: 25%;    /* Ajusta para descer um pouco */
   right: 10%;  /* Ajusta para encostar do lado direito */

   background-color: #00000099; /* fundo semi-transparente */
   border-radius: 10px;
   box-shadow: 0 0 15px #06572e;
}

h2 {
  color:  #edb119;;
  text-align: center;
  font-size: 30px;   
}

.texto {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;      /* Alinha verticalmente (se quiser) */
  gap: 10px;                /* Espaço entre input e botão */
  margin-top: 50px;         /* Espaço do topo */
}

.texto input {
  color: white;
  background-color: #111; /* preto mais suave */
  text-align: center;
  font-size: 20px;
  width: 30%;
  padding: 12px 16px;
  border: 2px solid white;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.texto input::placeholder {
  color: #aaa; /* cor mais suave pro placeholder */
}

.texto input:focus {
  border-color:   #06572e; /* neon no foco */
  box-shadow: 0 0 8px  #06572e;
}

.texto button {
  color: white;
  background-color: #222; /* um preto menos chapado */
  text-align: center;
  font-size: 20px;
  width: 10%;
  padding: 12px 20px;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.texto button:hover {
  background-color:  #06572e;
  color: black;
  border-color: white;
  box-shadow: 0 6px 10px rgba(255, 255, 255, 0.2);
}

.subtexto {
  position: fixed;
   top: 55%; /* muda essa porcentagem pra ajustar a posição do <p> */
   right: 10%;
   width: 60%;
   min-height: 20px;
   text-align: right;
   padding: 3%;
   border-radius: 30px;
   font-size: 20px;
   color: #edb119;
 }


.robo {
  max-width: 50%;
  position: absolute;
  top: 50px;
  left: 30px;
 
}